<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{common/admin :: head}"></head>
    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">
            <ul th:replace="~{common/admin :: sidebar}"></ul>

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">


                <!-- Main Content -->
                <div id="content">

                    <nav th:replace="~{common/admin :: navbar}"></nav>

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">User</h1>
                            <a th:href="@{/admin/user/create}">
                                <button class="btn btn-success">Add User</button>
                            </a>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-stripped">
                                <thead class="thead-light text-center">
                                    <tr>
                                        <th>ID</th>
                                        <th>Email</th>
                                        <th>Full Name</th>
                                        <th>Age</th>
                                        <th>Gender</th>
                                        <th>Phone</th>
                                        <th>Roles</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="user: ${users}">
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td>[[${user.firstName}]] [[${user.lastName}]]</td>
                                        <td th:text="${user.birthday}"></td>
                                        <td th:text="${user.gender}"></td>
                                        <td th:text="${user.phone}"></td>
                                        <td>
                                            <p th:each="role: ${user.roles}" th:text="${role.name}"></p>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col">
                                                    <a th:href="@{/admin/user/update/{id}(id=${user.id})}">
                                                        <button class="btn btn-primary">Edit</button>
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <form th:action="@{/admin/user/delete/{id}(id=${user.id})}" method="post">
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{common/admin :: footer}"></div>
</body>

</html>