<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Address</h1>
        <form th:action="@{/address/create}" method="post" th:object="${address}">
            Name: <input type="text" th:field="*{name}"><br>
            Type: <input type="text" th:field="*{type}"><br>
            address <input type="text" th:field="*{address}"><br>
            street: <input type="text" th:field="*{street}"><br>
            city <input type="text" th:field="*{city}"><br>
            province <input type="text" th:field="*{province}"><br>
            country <input type="text" th:field="*{country}"><br>
            zipcode <input type="text" th:field="*{zipcode}"><br>
            <input type="submit" value="submit">
        </form>
        
        <a th:href="@{/address/create}">Add</a>
        
    </body>
</html>
