<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p th:text="${message}"></p>
        <h1>REFRESH TOKEN</h1>
        <p th:text="${message}"></p>
        <a th:href="@{/user/refresh-token(id=${token.id}})}">Refresh token</a>
    </body>
</html>
